In [34]:
import pandas as pd

Read in the unlinked passenger trips spreadsheet.

In [35]:
trips = pd.read_excel("../00_source/september_2020.xlsx", sheet_name="UPT")

/Users/Razalamb1/opt/miniconda3/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Now need to subset for appropriate transit agencies: Atlanta, Chicago, Boston, Philadelphia, Washington D.C., New York, Los Angeles, Portland, San Fransisco.

In [36]:
keep = [
    "Chicago Transit Authority",
    "Los Angeles County Metropolitan Transportation Authority ",
    "Massachusetts Bay Transportation Authority",
    "Washington Metropolitan Area Transit Authority",
    "MTA New York City Transit",
    "Tri-County Metropolitan Transportation District of Oregon",
    "Metropolitan Atlanta Rapid Transit Authority",
    "San Francisco Bay Area Rapid Transit District",
    "City and County of San Francisco",
    "Southeastern Pennsylvania Transportation Authority"
]

In [37]:
trips = trips[trips['Agency'].isin(keep)]

In [38]:
trips = trips.drop(
    [
        "5 digit NTD ID",
        "4 digit NTD ID",
        "Active",
        "Reporter Type",
        "UZA",
        "UZA Name",
        "TOS",
    ],
    axis=1,
)
trips = trips[trips["Modes"].isin(["HR", "LR", "SR"])]

In [39]:
trips.loc[
    trips.loc[:, "Agency"] == "City and County of San Francisco", "Agency"
] = "San Francisco Bay Area Rapid Transit District"

convert = keep = {
    "Chicago Transit Authority": "Chicago",
    "Los Angeles County Metropolitan Transportation Authority ": "Los Angeles",
    "Massachusetts Bay Transportation Authority": "Boston",
    "Washington Metropolitan Area Transit Authority": "Washington, D.C.",
    "MTA New York City Transit": "New York City",
    "Tri-County Metropolitan Transportation District of Oregon": "Portland",
    "Metropolitan Atlanta Rapid Transit Authority": "Atlanta",
    "San Francisco Bay Area Rapid Transit District": "San Francisco",
    "Southeastern Pennsylvania Transportation Authority": "Philadelphia"
}
trips["City"] = trips["Agency"].map(convert)

In [40]:
trips

,Agency,Modes,JAN02,FEB02,MAR02,APR02,MAY02,JUN02,JUL02,AUG02,...,JAN21,FEB21,MAR21,APR21,MAY21,JUN21,JUL21,AUG21,SEP21,City
32,Tri-County Metropolitan Transportation Distric...,LR,2137000.0,1900800.0,2109400.0,2074200.0,2310000.0,2161000.0,2123600.0,2282000.0,...,1134670.0,1020960.0,1283560.0,1266820.0,1235040.0,1254380.0,1461360.0,1458770.0,1436810.0,Portland
34,Tri-County Metropolitan Transportation Distric...,SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Portland
149,Massachusetts Bay Transportation Authority,HR,9952800.0,9753800.0,10469800.0,10736100.0,10526600.0,10366500.0,10964600.0,10665500.0,...,3224066.0,3128759.0,3832808.0,4068071.0,4630307.0,5249238.0,5585596.0,5875633.0,6776884.0,Boston
150,Massachusetts Bay Transportation Authority,LR,5461000.0,5240400.0,5233900.0,6068000.0,5570100.0,5323600.0,5509800.0,5239200.0,...,1090433.0,1133067.0,1354626.0,1426816.0,1549464.0,1737086.0,1809015.0,1870880.0,2364580.0,Boston
297,MTA New York City Transit,HR,141798472.0,133405389.0,148211938.0,149986886.0,153689295.0,144085234.0,143885266.0,140171980.0,...,73812961.0,68398283.0,88327136.0,89859001.0,102449895.0,120506010.0,120132888.0,115449037.0,119695237.0,New York City
497,Southeastern Pennsylvania Transportation Autho...,HR,6445968.0,6871511.0,8451948.0,6909404.0,8210590.0,6483615.0,6184994.0,7625424.0,...,2085193.0,1990348.0,2490860.0,2631560.0,2699782.0,3080889.0,2919254.0,2985363.0,3741207.0,Philadelphia
498,Southeastern Pennsylvania Transportation Autho...,LR,1342117.0,1437021.0,1752566.0,1413097.0,1683392.0,1232061.0,1177417.0,1462261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Philadelphia
501,Southeastern Pennsylvania Transportation Autho...,SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,560354.0,524208.0,654878.0,684969.0,702583.0,735140.0,635791.0,650098.0,1007627.0,Philadelphia
531,Washington Metropolitan Area Transit Authority,HR,19049385.0,17981556.0,20707901.0,22095957.0,21237523.0,21295417.0,22617116.0,20883018.0,...,2343957.0,2411125.0,3301593.0,3662922.0,4089843.0,5117989.0,6094385.0,5633293.0,6460018.0,"Washington, D.C."
745,Metropolitan Atlanta Rapid Transit Authority,HR,6767476.0,6231858.0,6672222.0,6626629.0,7014024.0,6338135.0,6707662.0,6764336.0,...,1434957.0,1363917.0,1642106.0,1719309.0,1804393.0,1917495.0,2041112.0,2111826.0,2328002.0,Atlanta
747,Metropolitan Atlanta Rapid Transit Authority,SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5612.0,5498.0,7349.0,9426.0,10617.0,11869.0,14313.0,10699.0,10318.0,Atlanta
1245,Chicago Transit Authority,HR,14624269.0,13669974.0,14473891.0,15225270.0,15412404.0,15104664.0,15910673.0,15487423.0,...,3628861.0,3652181.0,4727546.0,5004096.0,5724705.0,6758590.0,7987466.0,8061195.0,8988251.0,Chicago
1844,San Francisco Bay Area Rapid Transit District,HR,7909547.0,7345194.0,7964285.0,8270355.0,8289133.0,7763741.0,8115480.0,8102483.0,...,1142586.0,1213759.0,1510472.0,1627762.0,1822222.0,2162669.0,2325676.0,2589085.0,NaN,San Francisco
1891,San Francisco Bay Area Rapid Transit District,LR,3562400.0,3365100.0,3806500.0,3632800.0,3858900.0,3809800.0,3256400.0,3445600.0,...,156946.0,339692.0,408346.0,424307.0,835454.0,1397893.0,1521332.0,1806690.0,1986780.0,San Francisco
1893,San Francisco Bay Area Rapid Transit District,SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,San Francisco
2077,Los Angeles County Metropolitan Transportation...,HR,3567990.0,3167256.0,3367433.0,3558246.0,3558884.0,3313175.0,2761053.0,2686077.0,...,1350373.0,1320140.0,1563072.0,1610570.0,1666691.0,1750802.0,1787295.0,1853861.0,1927309.0,Los Angeles
2078,Los Angeles County Metropolitan Transportation...,LR,2301423.0,2256212.0,2995126.0,2544950.0,2645436.0,2524630.0,2854369.0,2776859.0,...,1668453.0,1682460.0,1931528.0,1987032.0,2072159.0,2253700.0,2345889.0,2430109.0,2510939.0,Los Angeles

In [41]:
trips = trips.groupby(["City", "Agency"]).sum().reset_index()

In [42]:
trips = trips.melt(
    id_vars=["Agency", "City"], value_name="Total Trips", var_name="Date"
)

In [43]:
trips["Month"] = trips["Date"].str[:3]
trips["Year"] = trips["Date"].str[3:].astype(int) + 2000
trips = trips[trips["Year"] < 2020]
trips.drop("Date", axis = 1, inplace=True)

In [44]:
trips["Average Daily Ridership"] = 0
trips["Month Numeric"] = ""
months = {
    "JAN": ("January", 1, 31),
    "FEB": ("February", 2, 28),
    "MAR": ("March", 3, 31),
    "APR": ("April", 4, 30),
    "MAY": ("May", 5, 31),
    "JUN": ("June", 6, 30),
    "JUL": ("July", 7, 31),
    "AUG": ("August", 8, 31),
    "SEP": ("September", 9, 30),
    "OCT": ("October", 10, 31),
    "NOV": ("November", 11, 30),
    "DEC": ("December", 12, 31),
}

In [45]:
for i in months.keys():
    answer = months[i]
    trips.loc[trips.loc[:, "Month"] == i, "Month Numeric"] = answer[1]
    trips.loc[trips.loc[:, "Month"] == i, "Average Daily Ridership"] = round(
        trips["Total Trips"] / answer[2], 0
    )
    trips.loc[trips.loc[:, "Month"] == i, "Month"] = answer[0]
    pass
trips.loc[
    (trips.loc[:, "Month Numeric"] == 2) & (trips.loc[:, "Year"] % 4 == 0),
    "Average Daily Ridership",
] = round(trips["Total Trips"] / 29, 0)
trips.drop("Total Trips", axis=1, inplace=True)

In [46]:
assert ((trips["Month Numeric"] >= 1) & (trips["Month Numeric"] <= 13)).all()
assert (trips["Average Daily Ridership"] > 0).all()
assert not trips.isnull().values.any()

In [47]:
trips.to_parquet("../20_intermediate_data/trips.parquet", engine="fastparquet")

In [48]:
trips[trips['City'] == 'Philadelphia']

,Agency,City,Month,Year,Average Daily Ridership,Month Numeric
5,Southeastern Pennsylvania Transportation Autho...,Philadelphia,January,2002,251229.0,1
14,Southeastern Pennsylvania Transportation Autho...,Philadelphia,February,2002,296733.0,2
23,Southeastern Pennsylvania Transportation Autho...,Philadelphia,March,2002,329178.0,3
32,Southeastern Pennsylvania Transportation Autho...,Philadelphia,April,2002,277417.0,4
41,Southeastern Pennsylvania Transportation Autho...,Philadelphia,May,2002,319161.0,5
...,...,...,...,...,...,...
1904,Southeastern Pennsylvania Transportation Autho...,Philadelphia,August,2019,290844.0,8
1913,Southeastern Pennsylvania Transportation Autho...,Philadelphia,September,2019,341915.0,9
1922,Southeastern Pennsylvania Transportation Autho...,Philadelphia,October,2019,362861.0,10
1931,Southeastern Pennsylvania Transportation Autho...,Philadelphia,November,2019,335868.0,11
1940,Southeastern Pennsylvania Transportation Autho...,Philadelphia,December,2019,321573.0,12