First let's get directional route miles.

In [1]:
import pandas as pd
miles = pd.read_excel("../00_source/service_data.xlsx", sheet_name="DRM")

In [2]:
miles = miles[miles['Agency Status'] == 'Active']

In [3]:
keep = [
    "Chicago Transit Authority (CTA)",
    "Los Angeles County Metropolitan Transportation Authority (LACMTA)",
    "Massachusetts Bay Transportation Authority (MBTA)",
    "Washington Metropolitan Area Transit Authority (WMATA)",
    "MTA New York City Transit (NYCT)",
    "Tri-County Metropolitan Transportation District of Oregon",
    "Metropolitan Atlanta Rapid Transit Authority (MARTA)",
    "San Francisco Bay Area Rapid Transit District (BART)",
    "City and County of San Francisco (SFMTA)",
    "Southeastern Pennsylvania Transportation Authority (SEPTA)"
]

In [4]:
miles = miles[miles['Agency Name'].isin(keep)]

In [5]:
miles = miles.drop(
    [
        "Last Report Year",
        "NTD ID",
        "Legacy NTD ID",
        "Agency Status",
        "Reporter Type",
        "Reporting Module",
        "Census Year",
        "UZA Name",
        "UZA Area SQ Miles",
        "UZA Population",
        "2020 Status",
        "Service",
        "Mode Status",
        "UZA",
        "State",
    ],
    axis=1,
)
miles = miles[miles["Mode"].isin(["HR", "LR", "SR"])]

In [6]:
miles.loc[
    miles.loc[:, "Agency Name"]
    == "San Francisco Bay Area Rapid Transit District (BART)",
    "City",
] = "San Francisco"
miles.loc[
    miles.loc[:, "Agency Name"] == "MTA New York City Transit (NYCT)",
    "City",
] = "New York City"
miles.loc[
    miles.loc[:, "Agency Name"]
    == "Washington Metropolitan Area Transit Authority (WMATA)",
    "City",
] = "Washington, D.C."
miles.loc[
    miles.loc[:, "Agency Name"] == "City and County of San Francisco (SFMTA)", "Agency Name"
] = "San Francisco Bay Area Rapid Transit District (BART)"

In [7]:
miles = miles.groupby(["City", "Agency Name"]).sum().reset_index()

In [8]:
miles = miles.melt(
    id_vars=["Agency Name", "City"], value_name="Route Miles", var_name="Year"
)

Now lets do maximum vehicles operated in service.

In [9]:
vehicles = pd.read_excel("../00_source/service_data.xlsx", sheet_name="VOMS")

In [10]:
vehicles = vehicles[vehicles['Agency Status'] == 'Active']
vehicles = vehicles[vehicles['Agency Name'].isin(keep)]

In [11]:
vehicles = vehicles.drop(
    [
        "Last Report Year",
        "NTD ID",
        "Legacy NTD ID",
        "Agency Status",
        "Reporter Type",
        "Reporting Module",
        "Census Year",
        "UZA Name",
        "UZA Area SQ Miles",
        "UZA Population",
        "2020 Status",
        "Service",
        "Mode Status",
        "UZA",
        "State",
    ],
    axis=1,
)
vehicles = vehicles[vehicles["Mode"].isin(["HR", "LR", "SR"])]

In [12]:
vehicles.loc[
    vehicles.loc[:, "Agency Name"]
    == "San Francisco Bay Area Rapid Transit District (BART)",
    "City",
] = "San Francisco"
vehicles.loc[
    vehicles.loc[:, "Agency Name"] == "MTA New York City Transit (NYCT)",
    "City",
] = "New York City"
vehicles.loc[
    vehicles.loc[:, "Agency Name"]
    == "Washington Metropolitan Area Transit Authority (WMATA)",
    "City",
] = "Washington, D.C."
vehicles.loc[
    vehicles.loc[:, "Agency Name"] == "City and County of San Francisco (SFMTA)", "Agency Name"
] = "San Francisco Bay Area Rapid Transit District (BART)"

In [13]:
vehicles = vehicles.groupby(["City", "Agency Name"]).sum().reset_index()

In [14]:
vehicles = vehicles.melt(
    id_vars=["Agency Name", "City"], value_name="Vehicles", var_name="Year"
)

In [15]:
miles_vehicles = vehicles.merge(miles, how = 'outer', on = ['Agency Name', 'City', 'Year'], validate = "1:1")

Now let's figure out average fare.

In [16]:
trips = pd.read_excel("../00_source/service_data.xlsx", sheet_name="UPT")

/Users/Razalamb1/opt/miniconda3/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [17]:
trips = trips[trips['Agency Status'] == 'Active']
trips = trips[trips['Agency Name'].isin(keep)]
trips = trips.drop(
    [
        "Last Report Year",
        "NTD ID",
        "Legacy NTD ID",
        "Agency Status",
        "Reporter Type",
        "Reporting Module",
        "Census Year",
        "UZA Name",
        "UZA Area SQ Miles",
        "UZA Population",
        "2020 Status",
        "Service",
        "Mode Status",
        "UZA",
        "State",
    ],
    axis=1,
)
trips = trips[trips["Mode"].isin(["HR", "LR", "SR"])]

In [18]:
trips.loc[
    trips.loc[:, "Agency Name"]
    == "San Francisco Bay Area Rapid Transit District (BART)",
    "City",
] = "San Francisco"
trips.loc[
    trips.loc[:, "Agency Name"] == "MTA New York City Transit (NYCT)",
    "City",
] = "New York City"
trips.loc[
    trips.loc[:, "Agency Name"]
    == "Washington Metropolitan Area Transit Authority (WMATA)",
    "City",
] = "Washington, D.C."
trips.loc[
    trips.loc[:, "Agency Name"] == "City and County of San Francisco (SFMTA)", "Agency Name"
] = "San Francisco Bay Area Rapid Transit District (BART)"
trips = trips.groupby(["City", "Agency Name"]).sum().reset_index()

In [19]:
trips = trips.melt(
    id_vars=["Agency Name", "City"], value_name="Trips", var_name="Year"
)

In [20]:
fares = pd.read_excel("../00_source/service_data.xlsx", sheet_name="FARES")

In [21]:
fares = fares[fares['Agency Status'] == 'Active']
fares = fares[fares['Agency Name'].isin(keep)]
fares = fares.drop(
    [
        "Last Report Year",
        "NTD ID",
        "Legacy NTD ID",
        "Agency Status",
        "Reporter Type",
        "Reporting Module",
        "Census Year",
        "UZA Name",
        "UZA Area SQ Miles",
        "UZA Population",
        "2020 Status",
        "Service",
        "Mode Status",
        "UZA",
        "State",
    ],
    axis=1,
)
fares = fares[fares["Mode"].isin(["HR", "LR", "SR"])]

In [22]:
fares.loc[
    fares.loc[:, "Agency Name"]
    == "San Francisco Bay Area Rapid Transit District (BART)",
    "City",
] = "San Francisco"
fares.loc[
    fares.loc[:, "Agency Name"] == "MTA New York City Transit (NYCT)",
    "City",
] = "New York City"
fares.loc[
    fares.loc[:, "Agency Name"]
    == "Washington Metropolitan Area Transit Authority (WMATA)",
    "City",
] = "Washington, D.C."
fares.loc[
    fares.loc[:, "Agency Name"] == "City and County of San Francisco (SFMTA)", "Agency Name"
] = "San Francisco Bay Area Rapid Transit District (BART)"
fares = fares.groupby(["City", "Agency Name"]).sum().reset_index()
fares = fares.melt(
    id_vars=["Agency Name", "City"], value_name="Fare Revenue", var_name="Year"
)

In [23]:
fares

,Agency Name,City,Year,Fare Revenue
0,Metropolitan Atlanta Rapid Transit Authority (...,Atlanta,1991,0.000000e+00
1,Massachusetts Bay Transportation Authority (MBTA),Boston,1991,0.000000e+00
2,Chicago Transit Authority (CTA),Chicago,1991,0.000000e+00
3,Los Angeles County Metropolitan Transportation...,Los Angeles,1991,0.000000e+00
4,MTA New York City Transit (NYCT),New York City,1991,0.000000e+00
...,...,...,...,...
265,MTA New York City Transit (NYCT),New York City,2020,1.609954e+09
266,Southeastern Pennsylvania Transportation Autho...,Philadelphia,2020,1.077622e+08
267,Tri-County Metropolitan Transportation Distric...,Portland,2020,3.631539e+07
268,San Francisco Bay Area Rapid Transit District ...,San Francisco,2020,3.668912e+08
269,Washington Metropolitan Area Transit Authority...,"Washington, D.C.",2020,4.027622e+08

In [24]:
average_fare = fares.merge(
    trips,
    how="outer",
    on=["Agency Name", "City", "Year"],
    validate="1:1",
)

In [25]:
average_fare["Average Fare"] = average_fare["Fare Revenue"] / average_fare["Trips"]
average_fare.drop(["Fare Revenue", "Trips"], axis=1, inplace=True)

In [26]:
system_statistics = miles_vehicles.merge(
    average_fare, how="outer", on=["Agency Name", "City", "Year"]
)

In [27]:
system_statistics["Year"] = system_statistics["Year"].astype(int)
system_statistics = system_statistics[(system_statistics["Year"] >= 2002) & (system_statistics["Year"] <= 2019)]

In [28]:
assert (
    (system_statistics["Year"] >= 2002) & (system_statistics["Year"] <= 2019)
).all()
assert (system_statistics["Vehicles"] > 0).all()
assert (system_statistics["Route Miles"] > 0).all()
assert (system_statistics["Average Fare"] > 0).all()
assert not system_statistics.isnull().values.any()
assert (system_statistics['City'].value_counts() == 18).all()

In [29]:
system_statistics.to_parquet("../20_intermediate_data/system_statistics.parquet", engine="fastparquet")