In [1]:
import pandas as pd
import time

In [2]:
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime

#add the access token you got from NOAA
Token = 'VSKeYyTUCtoWpuWvDhJswcCGPdgxbrma'

station_id = "GHCND:USW00014819"

In [3]:
def get_weather(station_id, bottom, top):
    # initialize lists to store data
    # make the api call
    r = requests.get(
        f"https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&dataypeid=TAVG&limit=1000&stationid={station_id}&startdate="
        + bottom
        + "&enddate="
        + top,
        headers={"token": Token},
        timeout=60,
    )
    # load the api response as a json
    d = json.loads(r.text)
    data = pd.DataFrame.from_dict(d["results"])
    time.sleep(1)
    return data

In [4]:
station_ids = {
    "Chicago": "GHCND:USW00014819",
    "Philadelphia": "GHCND:USC00366886",
    "Boston": "GHCND:USW00014739",
    "New York City": "GHCND:USW00014732",
    "Washington, D.C.": "GHCND:USW00013743",
    "Atlanta": "GHCND:USW00013874",
    "Los Angeles": "GHCND:USW00023174",
    "San Francisco": "GHCND:USW00023272",
    "Portland": "GHCND:USW00024229",
}
month_cuts = [
    ("-01-01", "-02-28"),
    ("-03-01", "-04-30"),
    ("-05-01", "-06-30"),
    ("-07-01", "-08-31"),
    ("-09-01", "-10-31"),
    ("-11-01", "-12-31")
]
def get_segment(key, value, begin, end):
    dfs  = []
    for year in range(begin,end):
        print(f'Starting year {year} in city {key}')
        year_list = []
        for tuple in month_cuts:
            print(f'starting tuple beginning in month {tuple[0][1:3]}')
            beginning = str(year) + tuple[0]
            end = str(year) + tuple[1]
            d = get_weather(value, beginning, end)
            year_list.append(d)
            pass
        year_df = pd.concat(year_list)
        year_df['City'] = key
        dfs.append(year_df)
    return dfs

In [150]:
chicago_2_8 = get_segment('Chicago', 'GHCND:USW00014819', 2002, 2008)
chicago_8_10 = get_segment('Chicago', 'GHCND:USW00014819', 2008, 2010)
chicago_10_12 = get_segment('Chicago', 'GHCND:USW00014819', 2010, 2012)
chicago_12_14 = get_segment('Chicago', 'GHCND:USW00014819', 2012, 2014)
chicago_14_16 = get_segment('Chicago', 'GHCND:USW00014819', 2014, 2016)
chicago_16_18 = get_segment('Chicago', 'GHCND:USW00014819', 2016, 2018)
chicago_18_20 = get_segment('Chicago', 'GHCND:USW00014819', 2018, 2020)

Starting year 2002 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Chicago
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [151]:
chicagos = chicago_2_8 + chicago_8_10 + chicago_10_12 + chicago_12_14 + chicago_14_16 + chicago_16_18 + chicago_18_20

In [152]:
chicago_final = pd.concat(chicagos)

In [154]:
chicago_final.to_parquet("../00_source/chicago_weather.parquet", engine="fastparquet")

In [6]:
philadelphias = get_segment('Philadelphia', 'GHCND:USC00366886', 2002, 2020)

Starting year 2002 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Philadelphia
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [7]:
philadelphia_final = pd.concat(philadelphias)
philadelphia_final.to_parquet("../00_source/philadelphia_weather.parquet", engine="fastparquet")

In [17]:
boston_2_10 = get_segment('Boston', station_ids['Boston'], 2002, 2010)

Starting year 2002 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [18]:
boston_10_16 = get_segment('Boston', station_ids['Boston'], 2010, 2016)

Starting year 2010 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [19]:
boston_16_20 = get_segment('Boston', station_ids['Boston'], 2016, 2020)

Starting year 2016 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Boston
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [21]:
bostons = boston_2_10 + boston_10_16 + boston_16_20

In [22]:
boston_final = pd.concat(bostons)
boston_final.to_parquet("../00_source/boston_weather.parquet", engine="fastparquet")

In [6]:
new_yorks = get_segment("New York City", station_ids["New York City"], 2002, 2020)

Starting year 2002 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city New York City
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [7]:
new_york_final = pd.concat(new_yorks)
new_york_final.to_parquet("../00_source/new_york_weather.parquet", engine="fastparquet")

In [5]:
washingtons = get_segment("Washington, D.C", station_ids["Washington, D.C."], 2002, 2020)

Starting year 2002 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Washington, D.C
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [6]:
washington_final = pd.concat(washingtons)
washington_final.to_parquet("../00_source/washington_weather.parquet", engine="fastparquet")

In [5]:
atlantas = get_segment("Atlanta", station_ids["Atlanta"], 2002, 2020)

Starting year 2002 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Atlanta
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [6]:
atlanta_final = pd.concat(atlantas)
atlanta_final.to_parquet("../00_source/atlanta_weather.parquet", engine="fastparquet")

In [8]:
los_angeles = get_segment("Los Angeles", station_ids["Atlanta"], 2002, 2020)

Starting year 2002 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Los Angeles
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [9]:
los_angeles_final = pd.concat(los_angeles)
los_angeles_final.to_parquet("../00_source/los_angeles_weather.parquet", engine="fastparquet")

In [11]:
san_francisco = get_segment("San Francisco", station_ids["San Francisco"], 2002, 2020)

Starting year 2002 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city San Francisco
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [12]:
san_francisco_final = pd.concat(san_francisco)
san_francisco_final.to_parquet("../00_source/san_francisco_weather.parquet", engine="fastparquet")

In [15]:
portland = get_segment("Portland", station_ids["Portland"], 2002, 2020)

Starting year 2002 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2003 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2004 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2005 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2006 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2007 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2008 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2009 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2010 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2011 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2012 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2013 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2014 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2015 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2016 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2017 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2018 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11
Starting year 2019 in city Portland
starting tuple beginning in month 01
starting tuple beginning in month 03
starting tuple beginning in month 05
starting tuple beginning in month 07
starting tuple beginning in month 09
starting tuple beginning in month 11

In [16]:
portland_final = pd.concat(portland)
portland_final.to_parquet("../00_source/portland_weather.parquet", engine="fastparquet")

In [19]:
san_francisco_final.datatype.value_counts()

PRCP    6569
TMAX    6569
TMIN    6569
SNOW    1527
SNWD    1515
TOBS     360
TAVG     304
WT11       1
Name: datatype, dtype: int64